{% extends 'manager/manager_base.html' %}
{% block content %}
{% for m in messages %}
   <script>
      alert('{{ m }}')
   </script>
{% endfor %}
<style>
    h2, th, tr {
        color: white;
    }
</style>
      <!-- Start Table -->
<center><h2>Employee Stats</h2></center><br><br>
{% if new %}
    <table class="table table-bordered table-hover" style="margin-left:0px;">
    <thead style="background-color: #002B5B;" class="bg-dark text-white">
    <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Mail</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Education</th>
        <th scope="col">Job Title</th>
        <th scope="col">Location</th>
        <th scope="col">Experience</th>
        <th scope="col">Send to Client</th>
    </tr>
    </thead>
    <tbody>
    {% for n in new %}
    <tr style="background-color: #607EAA;">
        <td>{{ n.name }}</td>
        <td>{{ n.mail }}</td>
        <td>{{ n.gender }}</td>
        <td>{{ n.age }}</td>
        <td>{{ n.education }}</td>
        <td>{{ n.job_title }}</td>
        <td>{{ n.location }}</td>
        <td>{{ n.experience }}</td>
        {% if n.from_client is False %}
        <td><a href="/send_to_client/{{ n.id }}/"><input type="button" value="Send Employee" /></a></td>
        {% elif n.from_client is True %}
        <td><a href="/employee_start_project/{{ n.id }}/"><input type="button" value="Employee Start Project" /></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
	<h3>No More Employee Stats to Send</h3>
    {% endif %}
<!-- End Table -->
{% endblock %}
