{% extends 'manager/manager_base.html' %}
{% block content %}
{% for m in messages %}
   <script>
      alert('{{ m }}')
   </script>
{% endfor %}
<style>
    h2, th, tr {
        color: white;
    }

</style>
      <!-- Start Table -->
<center><h2>Approve Inhouse Employees Registration</h2></center><br><br>
{% if new %}
    <table class="table table-bordered table-hover">
    <thead style="background-color: #002B5B;" class="bg-dark text-white">
    <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Id</th>
        <th scope="col">Employee Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Education</th>
        <th scope="col">Job Title</th>
        <th scope="col">Salary</th>
        <th scope="col">Location</th>
        <th scope="col">Experience</th>
        <th scope="col">Allow and Send</th>
    </tr>
    </thead>
    <tbody>
    {% for n in new %}
    <tr style="background-color: #607EAA;">
        <td>{{ n.name }}</td>
        <td>{{ n.emp_id }}</td>
        <td>{{ n.mail }}</td>
        <td>{{ n.gender }}</td>
        <td>{{ n.age }}</td>
        <td>{{ n.education }}</td>
        <td>{{ n.job_title }}</td>
        <td>{{ n.salary }}</td>
        <td>{{ n.location }}</td>
        <td>{{ n.experience }}</td>
        <td><a href="/approved_inhouse_employee/{{ n.id }}/"><input type="button" value="Send to Tech" /></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% else %}
	<h3>No More Approval</h3>
    {% endif %}
<!-- End Table -->
{% endblock %}
